<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <h1>Add new product</h1>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label class="pb-1">Name</label>
        <input
          class="form-control"
          type="text" formControlName="name"
          [ngClass]="{'is-invalid': isInvalid('name')}"
          required>
        <div *ngIf="isInvalid('name')" class="error-message">
          {{ getErrorMessage('name') }}
        </div>
      </div>

      <div class="form-group">
        <label class="pb-1">Price</label>
        <input
          class="form-control"
          type="text" formControlName="price"
          [ngClass]="{'is-invalid': isInvalid('price')}"
          required>
        <div *ngIf="isInvalid('price')" class="error-message">
          {{ getErrorMessage('price') }}
        </div>
      </div>

      <div class="form-group">
        <label class="pb-1">Description</label>
        <input
          class="form-control"
          type="text"
          formControlName="description"
          [ngClass]="{'is-invalid': isInvalid('description')}"
          required>
        <div *ngIf="isInvalid('description')" class="error-message">
          {{ getErrorMessage('description') }}
        </div>
      </div>

      <div class="form-group">
        <label class="pb-1">Image</label>
        <input
          class="form-control"
          type="file" formControlName="image"
          [ngClass]="{'is-invalid': isInvalid('image')}"
          (change)="onFileSelected($event)"
          required>
        <div *ngIf="isInvalid('image')" class="error-message">
          {{ getErrorMessage('image') }}
        </div>
      </div>

      <div class="form-group d-flex justify-content-end pt-3">
        <button class="btn btn-primary btn-block" type="submit" [disabled]="productForm.invalid">Add Product</button>
      </div>
    </form>
  </div>
</div>
